#rubrics
    padding: 50px 0
    background-color: #bdd8e9
    .textbox
        text-align: center
        h1
            font-weight: 800
            font-size: 25px
        h2
            font-size: 17px
            margin: 20px 0
            line-height: 1.2
    .videobox
        display: flex
        flex-flow: row wrap
        .iframebox
            background-color: #d1c7c7ff
            width: 300px
            height: 300px