#rubrics
    padding: 50px 0
    background-color: #bdd8e9
    .textbox
        h1, h2
            font-weight: 600
            color: #fff
    .video-box
        background-color: #b6f3fc
        .iframebox
            background-color: #f8fcfb
            width: 400px
            height: 400px
