#header {
  color: #ffffff;
}
#header .menu {
  padding: 15px 0;
  height: 80px;
  background-color: #212529;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
#header .menu .btn {
  color: #ffffff;
}
#header .menu .imgbox {
  width: 78px;
  height: auto;
  margin-left: 20px;
}
#header .menu .imgbox img {
  width: 100%;
}
#header .menu nav a {
  margin: 0 15px;
}

#imanli {
  padding: 50px 0;
}
#imanli .textbox h2 {
  font-size: 25px;
  font-weight: 600;
}
#imanli .textbox h1 {
  color: #090101;
  font-size: 55px;
  font-weight: 900;
  margin: 15px 0 25px 0;
}
#imanli .textbox h3 {
  font-size: 25px;
  font-weight: 500;
}
#imanli .textbox .btn {
  background-color: #a0f1bd;
  border: 1px solid;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 35px;
}
#imanli .textbox .btn h5 {
  color: #ffffff;
  font-size: 13px;
}
#imanli .imgbox {
  width: 450px;
}
#imanli .imgbox img {
  max-width: 100%;
  border-radius: 50px;
}

#services {
  padding: 50px 0;
  background-color: #d7ffd7;
}
#services .textbox {
  border-radius: 15px;
  text-align: center;
  padding: 15px;
}
#services .textbox h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}
#services .textbox h3 {
  font-weight: 400;
  font-size: 20px;
}
#services .carousel.slide {
  margin: 35px;
  width: 700px;
  height: 85%;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 20px #1c1b1b;
  padding-bottom: 20px;
}
#services .carousel.slide .carousel-item img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
}
#services .carousel.slide .carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  bottom: 3.5rem;
  margin-top: 4rem;
}
#services .carousel.slide .carousel-item .carousel-caption h5 {
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #ffc107;
}
#services .carousel.slide .carousel-item .carousel-caption p {
  font-size: 20px;
  color: #f8f9fa;
  margin-bottom: 35px;
}
#services .carousel.slide .carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  margin: 0 5px !important;
  opacity: 0.7;
}
#services .carousel.slide .carousel-indicators.active {
  background-color: #ffc107 !important;
  opacity: 1;
}
#services .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}
#services .card-container .card {
  width: 400px;
  height: auto;
  text-align: center;
  border-radius: 19px;
  line-height: 1.2;
  margin: 10px;
  padding: 10px;
  background-color: #08d5ce;
}
#services .card-container .card img {
  width: auto;
  height: 400px;
  border-radius: 15px;
}
#services .card-container .card .card-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
  margin: 15px 0 17px 0;
}
#services .card-container .card .card-description {
  font-size: 19px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */